# Ignoring the PyCharm setup folder
.idea/*

# Ignoring pycharm configuration Directory
__pycharm__/*

# Ignore data in algorithm tests folder
algorithm_tests/Al_data.csv

# Ignore network files
data/*

# Ignore the outputs in graphs folder
graphs/*

# Ignoring raw output data
output_data/*
